footer.footer
  h1.footer__logo DREAMSHARE
  div
    h2.footer__name-company Company
    .footer__main
      a.footer__main_about(href='#') About
      a.footer__main_about(href='#') Contact
      a.footer__main_about(href='#') Press
      a.footer__main_about(href='#') Blog
      a.footer__main_about(href='#') Terms and Privacy
      a.footer__main_about(href='#') Help
  h2.footer__partner Partners
  address.footer__address
    h2.footer__address_text DESIGNED BY
    img.footer__address_logo(src='./images/Bitmap.png', alt='ARETO DEVELOPMENT')
