header.header
  .top
    .top__logo DREAMSHARE
    nav.top__nav
      a.top__nav_login(href='#') Log in
      a.top__nav_signup(href='#') Sign up
  h1.header__larg-text SHARE YOUR HOLIDAY DREAM
  h3.header__small-text And find the perfect partner to fullfill it
  button.header__button-find Find your holiday partner